*, *::after, *::before {
    box-sizing: border-box;
}


/* variáveis do CSS - para depois calcular em porcentagem o tamanho do X e do O*/
:root {
    /* para definir o tamanho das células .cell */
    --cell-size: 100px;
    /* para definir o tamanho dos X e O como 90% da célula*/
    --mark-size: calc(var(--cell-size) * .9)
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   /*  background-image: url("./images/montains.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    padding: 10px;
    width: auto;
    height: auto;    
    text-align: center;
    color: black;
}

.background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 700px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#sphere {
    background-color: rgb(255, 255, 255, 0.6);
}

.board {
    width: auto;
    height: auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center; /* para X e O ficarem no centro da célula*/
    align-items: center;  /* para X e O ficarem no centro da célula*/
    grid-template-columns: repeat(3, auto); /* para ficar o grid 3 x 3 */
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer; /* para criar o X e o O que ficam em cinza antes de clicar na célula */
}

/* para remover as bordas externas do board e não ficar um quadrado */
.cell:first-child,
.cell:nth-child(2), /* cells 0, 1, 2 */
.cell:nth-child(3) {
    border-top: none;    
}
.cell:nth-child(3n + 1){
    border-left: none; /* cells 0, 3, 6 */
}
.cell:nth-child(3n + 3){
    border-right: none; /* cells 2, 5, 8 */
}
.cell:last-child,
.cell:nth-child(7), /* cells 6, 7, 8 */
.cell:nth-child(8) {
    border-bottom: none;    
}

/* para criar o cursor de "não permitido" quando a célula já estiver marcada com um X ou O*/
.cell.x,
.cell.circle {
    cursor: not-allowed;
}


/* para deixar o X e o O cinza-claro antes de ser clicado */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(104, 104, 104);
}

/* para deixar o X e o O colorido depois de ser clicado */
.cell.x::before,
.cell.x::after{
    background-color: #A93226;

}
.cell.circle::before {
    background-color: #0B5345;
}


/* para fazer o X e o O, sobrepoe-se um X ou um O sobre o outro, usando ::before e ::after  */
/* Usar letras e números pode dar diferença em diferentes browsers */
/* criando o X */
.cell.x::before,
.cell.x::after,
/* usando HOVER e NOT para criar o X em cinza quando o cursor passar nas células, antes de marcá-lo (só aplique o hover quando a célula não estiver marcada com X ou O)*/
.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute; /* para o X ficar correto*/
    width: calc(var(--mark-size) * .15); /* para deixar o tamanho correto */
    height: var(--mark-size);   
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before { /* -> para quando o X já estiver marcado */
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after { /* -> para quando o X já estiver marcado */
    transform: rotate(-45deg);
}


/* 
/* criando o O */
.cell.circle::before,
.cell.circle::after,
/* usando HOVER e NOT para criar o O em cinza quando o cursor passar nas células, antes de marcá-lo (só aplique o hover quando a célula não estiver marcada com X ou O)*/
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute; /* para o O ficar correto*/
    border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);    
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7); 
    background-color: rgb(255, 255, 255, 0.1);
} 


.no-show {
    display: none;
}

.show {
    display: flex;
}


/* FAZENDO OS BOTÕES */

/* START - PARA INICIAR O TEMPO DO JOGO */
.start-button {    
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;  
    font-size: 15px;
    border-radius: 12px;
    padding: 10px 24px;
    transition-duration: 0.4s;   
}

.start-button:hover{
    background-color: rgb(255, 255, 255, 0.5);
    color: rgba(0, 0, 0);   
    font-family: 'Montserrat', sans-serif;  
}


/* RESTART - PARA REINICIAR O JOGO */
.restart {
    width: auto;
    height: auto;      
    text-align: center;    
    margin: 10px;
}

.reset-time {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;  
    font-size: 15px;
    border-radius: 12px;
    padding: 10px 24px;
    transition-duration: 0.4s;    
}
 
.reset-time:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: rgba(0, 0, 0);   
    font-family: 'Montserrat', sans-serif;  
}

/* MENSAGEM DO VENCEDOR E BOTÃO RESTART */

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif; 
  }
  
  .winning-message button {
    font-family: 'Montserrat', sans-serif; 
    font-size: 3rem;
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    transition-duration: 0.4s; 
    border-radius: 12px;
  }
  
  .winning-message button:hover {
    font-family: 'Montserrat', sans-serif; 
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border-color: white;
    border-radius: 12px;
  }
  
  .winning-message.show {
    display: flex;
  }
